	<ul class="navbar-nav text-uppercase ml-auto" style="display: block;">
			<li class="nav-item" style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/admin/users">KİŞİSEL BİLGİLERİM</a>
			</li>
			<li class="nav-item"  style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/admin/categories">KATEGORİLER</a>
			</li>
			<li class="nav-item"  style="float: left; margin-right: 40px;">
				<a class="nav-link" href="/admin/posts">İLAN DÜZENLE</a>
			</li>
			
		</ul>